body {
    font-family: sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden; /* Evita barras de scroll innecesarias */
    background-color: #333;
    color: #f0f0f0;
}

#panel-izquierdo {
    width: 200px;
    background-color: #444;
    padding: 15px;
    border-right: 2px solid #555;
    z-index: 20; /* Asegura que esté por encima del lienzo */
}

.forma-arrastrable {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #5a67d8;
    color: white;
    text-align: center;
    cursor: grab;
    user-select: none; /* Evita seleccionar el texto al arrastrar */
}

#lienzo {
    flex-grow: 1;
    position: relative;
    background-image: radial-gradient(#555 1px, transparent 0);
    background-size: 20px 20px;
}

.celda {
    position: absolute;
    padding: 15px;
    border: 2px solid #ddd;
    background-color: #2d3748;
    color: white;
    min-width: 100px;
    min-height: 40px;
    display: flex; /* Para centrar mejor el contenido */
    justify-content: center;
    align-items: center;
    cursor: move;
    z-index: 10;
}

.celda.circulo {
    border-radius: 50%;
}

.celda.triangulo {
    width: 0;
    height: 0;
    padding: 0;
    background-color: transparent;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid #e53e3e;
    border-top: 0;
}

.celda .nombre-celda {
    padding: 5px;
}

.celda.triangulo .nombre-celda {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}

.tooltip-contenido {
    display: none;
    position: absolute;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    color: #1a202c;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.celda:hover .tooltip-contenido {
    display: block;
}

textarea.descripcion {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}
